@import "./styles/scss/variable.scss";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: $background-color;
    font-family: 'Montserrat', sans-serif;
    outline: none;
  }

.page-container{
  display:flex;
  justify-content: space-evenly;
}

.big-card{
  background:$big-car;
  width: 100%;
}