$background-color: #F8FCFF;
$heading-color:#063C58;
$button-border:  #063C58;
$font-color: #FFFFFF;
$button-width: 10rem;
$button-height: 3.5rem;
$button-font-size: 1em;
$card-colors: #FDFEFF;
$big-car:#FFFFFF;
$card-radius:6px;
$button-radius:3px;
$card-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$input-border:solid 1px #063C58;
